@*@model IEnumerable<DynamicVendors.Models.MenuList>

    @foreach (var item in Model )
    {

    }

    @*@

@model IEnumerable<DynamicVendors.Models.MenuList>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @{
            if (Model != null)
            {
                foreach (var item in Model)
                {
                <li>
                    @Html.ActionLink(item.LinkName, item.ActionName, item.ControllerName)
                </li>
                    }
                }
            }


    </ul>
</div>

