

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@*<form action="Validate" method="post">*@
@using (Html.BeginForm("Validate", "Login"))
{
    <h1>
        @{
            @ViewBag.Message
        }
    </h1>
    <table>
        <tr>
            <td>User Name</td>
            <td><input type="text" name="txtUsername" value="" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="txtUserpassword" value="" /></td>
        </tr>
        <tr>

            <td col2><input type="submit" name="submit" value="Login" /></td>
        </tr>
    </table>
            }
    @*</form>*@

